SITE_URL=
WORDPRESS_URL=
WOOCOMMERCE_SITE_URL=
NEXT_PUBLIC_WOOCOMMERCE_SITE_URL=
WORDPRESS_JWT_AUTH_URL=
WORDPRESS_API_URL=
WORDPRESS_JWT_SECRET_KEY=

WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=
WOOCOMMERCE_PAYMENT_METHOD=razorpay
WOOCOMMERCE_PAYMENT_METHOD_TITLE=Razorpay
WOOCOMMERCE_REST_URL=
WOOCOMMERCE_WP_JSON_PREFIX=/wp-json
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
